exportPattern("^[[:alpha:]]+")
export(ES)
export(ES_check_inputs)
export(ES_clean_data)
export(ES_estimate_ATT)
export(ES_make_ipw_dt)
export(ES_plot_ATTs)
export(ES_plot_ipw)
export(ES_plot_levels)
export(ES_plot_raw_levels)
export(ES_simulate_data)
export(Wald_ES)
export(Wald_bootstrap_ES)
export(block_sample)
export(bootstrap_ES)
export(by_cohort_ES)
export(by_cohort_ES_estimate_ATT)
export(delta_method)
export(max2)
export(sum2)
